@import url(http://fonts.googleapis.com/css?family=Passion+One);
/* Page Design */

html,
body {
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noCursor {
    cursor: none;
}

body {
    padding: 0px;
    background-color: #68b6fa;
    overflow: hidden;
}

#plantlife {
    width: 100%;
    height: 100%;
    position:absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 2;
    background-image: url(plantlife.gif);
    background-position: center bottom;
    background-size: cover;
    background-repeat: repeat-x;
    pointer-events:none;
}

aside {
    z-index: 5;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
}

h1 {
    font-family: "Passion One";
    font-size: 42px;
    color: rgba(0,0,0,0.7);
    margin: 0px;
    float: left;
}

h1,
#gameControls,
#scoreboard {
    float: left;
    width: 30%;
    margin: 0px 1.5%;
}

#scoreboard,
#gameControls {
    background-color: rgba(0,0,0,0.7);
    color: #FFF;
    font-family: Sans-Serif;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 3px solid green;
}

#scoreboard span {
    float: right;
    margin-right: 5px;
}

#cursor {
    display: none;
    position: absolute;
    background-image: url(crosshairs.png);
    background-size: contain;
    height: 30px;
    width: 30px;
    float: left;
    z-index: 999;
    pointer-events:none;
}
#cursor.active {
	display: block;
}

button,
select {
    width: 45%;
    margin: 5px 2%;
    -webkit-appearance: button;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 0px;
    border: 0px;
    background-color: #FFF;
    text-align: center;
}

/* Ducks */

span[class^="duck-"] {

    display: block;
    float: left;
    width: 38px;
    height: 36px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    background-image: url(duckhunt_various_sheet.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;

    position: absolute;
    top: 0px;
    left: 0px;

}

@-webkit-keyframes blackRight {
    0% { background-position: -130px -113px; }
    24.999% { background-position: -130px -113px; }
    25% { background-position: -170px -113px; }
    49.999% { background-position: -170px -113px; }
    50% { background-position: -211px -113px; }
    74.999% { background-position: -211px -113px; }
    75% { background-position: -170px -113px; }
    100% { background-position: -170px -113px; }
}
@-moz-keyframes blackRight {
    0% { background-position: -130px -113px; }
    24.999% { background-position: -130px -113px; }
    25% { background-position: -170px -113px; }
    49.999% { background-position: -170px -113px; }
    50% { background-position: -211px -113px; }
    74.999% { background-position: -211px -113px; }
    75% { background-position: -170px -113px; }
    100% { background-position: -170px -113px; }
}

@-webkit-keyframes blackTopRight {
    0% { background-position: -130px -154px; }
    24.999% { background-position: -130px -154px; }
    25% { background-position: -170px -154px; }
    49.999% { background-position: -170px -154px; }
    50% { background-position: -211px -154px; }
    74.999% { background-position: -211px -154px; }
    75% { background-position: -170px -154px; }
    100% { background-position: -170px -154px; }
}
@-moz-keyframes blackTopRight {
    0% { background-position: -130px -154px; }
    24.999% { background-position: -130px -154px; }
    25% { background-position: -170px -154px; }
    49.999% { background-position: -170px -154px; }
    50% { background-position: -211px -154px; }
    74.999% { background-position: -211px -154px; }
    75% { background-position: -170px -154px; }
    100% { background-position: -170px -154px; }
}

@-webkit-keyframes blackUp {
    0% { background-position: -130px -196px; }
    24.999% { background-position: -130px -196px; }
    25% { background-position: -170px -196px; }
    49.999% { background-position: -170px -196px; }
    50% { background-position: -211px -196px; }
    74.999% { background-position: -211px -196px; }
    75% { background-position: -170px -196px; }
    100% { background-position: -170px -196px; }
}
@-moz-keyframes blackUp {
    0% { background-position: -130px -196px; }
    24.999% { background-position: -130px -196px; }
    25% { background-position: -170px -196px; }
    49.999% { background-position: -170px -196px; }
    50% { background-position: -211px -196px; }
    74.999% { background-position: -211px -196px; }
    75% { background-position: -170px -196px; }
    100% { background-position: -170px -196px; }
}

@-webkit-keyframes blackDead {
    0% { background-position: -130px -237px; }
    74.999% { background-position: -130px -237px; }
    75% { background-position: -170px -237px; }
    100% { background-position: -170px -237px; }
}
@-moz-keyframes blackDead {
    0% { background-position: -130px -237px; }
    74.999% { background-position: -130px -237px; }
    75% { background-position: -170px -237px; }
    100% { background-position: -170px -237px; }
}

span.duck-black-right {
    -webkit-animation: blackRight 0.2s linear infinite;
    -moz-animation: blackRight 0.2s linear infinite;
}

span.duck-black-left {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-animation: blackRight 0.2s linear infinite;
    -moz-animation: blackRight 0.2s linear infinite;
}

span.duck-black-top-right {
    -webkit-animation: blackTopRight 0.2s linear infinite;
    -moz-animation: blackTopRight 0.2s linear infinite;
}

span.duck-black-top-left {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-animation: blackTopRight 0.2s infinite;
    -moz-animation: blackTopRight 0.2s infinite;
}

span.duck-black-bottom-left {
    -webkit-transform: rotateY(180deg) rotateZ(90deg);
    -moz-transform: rotateY(180deg) rotateZ(90deg);
    -webkit-animation: blackTopRight 0.2s infinite;
    -moz-animation: blackTopRight 0.2s infinite;
}

span.duck-black-bottom-right {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -webkit-animation: blackTopRight 0.2s  infinite;
    -moz-animation: blackTopRight 0.2s  infinite;
}

span.duck-black-top {
    -webkit-animation: blackUp 0.2s linear infinite;
    -moz-animation: blackUp 0.2s linear infinite;
}

span.duck-black-bottom {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -webkit-animation: blackUp 0.2s linear infinite;
    -moz-animation: blackUp 0.2s linear infinite;
}

span.duck-black-dead {
    -webkit-animation: blackDead 1s linear;
    -moz-animation: blackDead 1s linear;
    background-position: -170px -237px;
}